/*======== Global CSS Variables ======= */
:root {
    --biggest-font-size: 3rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway-VariableFont_wght.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: Noto;
    src: url(../fonts/NotoSerifKhojki-VariableFont_wght.ttf);
}

* {

    margin: 0;
    padding: 0;
}

body {
    background-color: var(--body-color);
    color: var(--text-color);


}

/*Container and Grid Max-Width=2200px*/
.container {
    max-width: 2200px;

}

.grid {
    display: grid;
}

/*================================ */

ul {
    list-style: none;
}

a,
a:visited {
    text-decoration: none;
}

/*==== Header & Nav Menu ======= */
.header {
    grid-area: head;
    position: sticky;
    padding-bottom: 2.5em;
    background-color: #fff;
    z-index: 1;
    top: 0;
    left: 0;
}

.nav {
    height: 3.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0;
    margin-right: 1.5rem;

}

.nav_menu {
    margin-top: 3em;
    background: linear-gradient(170deg,
            #383838 0%,
            #0f0f0f 30%);
    border-radius: 1.25em;
    box-shadow: 0 2px 5px 2px rgba(34, 32, 32, 0.45);
}

.nav_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1.5em;
}

.nav_item {
    background: none;
    box-shadow: none;
    padding: 1em;
    border-radius: 15px;

}

.nav_item:hover,
.nav_item:focus {
    box-shadow: inset -5px -5px 9px rgba(114, 105, 105, 0.45), inset 5px 5px 9px rgba(67, 67, 71, 0.3);
    background: #406e8e;
}

.nav_link {
    color: #fff;
    display: flex;
    border-radius: 50%;
    font-size: 1em;
    font-family: Montserrat;
}

.nav_list .nav_item {
    text-decoration: none;
    align-items: center;
    font-weight: bold;
}

.nav_logo {
    display: inline-flex;
    align-items: center;
    column-gap: .25em;
    margin-top: 2.5em;

}

.logo {
    width: 30%;
    min-width: 100px;
    max-width: 120px;
}

.nav_logo .smallscreen {
    display: none;
}

.nav_logo span {
    color: #406e8e;
    font-family: Noto;
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    text-shadow: 2px 2px 2px #282828;
}


.nav_logo:hover,
.nav_logo:focus {
    color: var(--first-color);
}

/*================================ */


/*======= Main Content (Section that contains Unorder List of Artists Discography) ======== */
.main {
    background: linear-gradient(170deg,
            #383838 0%,
            #0f0f0f 30%);
    display: flex;
}

.section {
    flex-basis: 100%;
    position: relative;
}

.section_container li {
    width: 20%;
    float: left;
    margin: 0px;
    padding: 0px;
}


.section_container li .image {
    position: relative;
    width: 100%;
    padding-bottom: 100%;

}

.section_container li .image div.img {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}


.section_container li .image .release_date {
    position: absolute;
    width: 65%;
    height: 40%;
    top: 55%;
    left: 20px;
    opacity: 0;
    visibility: hidden;
}

.section_container li:hover .release_date,
.section_container li:focus .release_date {
    opacity: 1;
    visibility: visible;
    background: rgba(30, 27, 24, 0.83);
    border: 2px solid #8d99ae;
    /* box-shadow: -5px -5px 1px rgb(22, 11, 1), inset -2px -2px 9px rgba(66, 81, 105, 0.45), inset 2px 2px 9px rgba(66, 81, 105, 0.45); */
    border-radius: 2px;


}

.release_date h4,
.release_date p,
.release_date a {
    color: #fff;
    display: flex;
    margin-left: .5em;
    padding-top: .5em;
    font-family: Montserrat;
}

.release_date p {
    font-weight: 500;
}

.release_date #artist_name {
    padding-top: 0;
    color: #a8dadc;
}

.release_date span {
    font-size: 1.1rem;
    font-weight: 700;
    margin-top: 1rem;
    font-family: Noto;
}

.release_date span:hover,
.release_date span:focus {
    text-decoration: 2px underline #406e8e;
}


.release_date img {
    margin-right: .2rem;
    margin-top: .8rem;
}

/*================================================*/

/*======= Footer ======== */
.footer {
    grid-area: foot;
    text-align: center;
    background: linear-gradient(170deg,
            #383838 0%,
            #0f0f0f 30%);
    padding-bottom: 1.25em;
}

.footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer li img {
    width: 30%;
    min-width: 35px;
    max-width: 45px;
}

/*========================== */


/*======= Screen Sizes/Breakpoints ======== */

#mobile_menu {
    display: none;
}

@media screen and (max-width: 1680px) {
    .section_container li .image .release_date {
        width: 75%;
        height: 45%;
        top: 55%;
    }

    .release_date a {
        padding-top: 0;
    }


}

@media screen and (max-width: 1300px) {

    .section_container li {
        width: 33.3%;
    }

    .section_container li .image .release_date {
        width: 75%;
        height: 40%;
        top: 55%;
    }

    .title {
        width: 400px;
    }

    #lablename {
        font-size: 1.5rem;
    }


    #fontdecoration {
        text-decoration: underline 5px black;
    }

    .footer {
        grid-area: foot;
        overflow: hidden;
    }


}

@media screen and (max-width: 909px) {

    .nav_logo {
        margin-left: .5em;
    }

    #largescreen {
        display: none;
    }

    .nav_menu {
        width: 80%;
    }

    .section_container li .image .release_date {
        width: 75%;
        height: 40%;

    }

    .footer {
        padding: 0;
    }

}

@media screen and (max-width: 850px) {
    #mobile_menu {
        display: flex;
        margin-top: 2.5em;
    }

    .section_container li {
        width: 50%;
    }


    #nav_menu {
        display: none;
    }

    .nav_item {
        padding-bottom: .68em;
    }

}

@media screen and (max-width: 668px) {
    .section_container li .image .release_date {
        width: 55%;
        height: 35%;

    }
}

@media screen and (max-width: 582px) {
    #mobile_menu {
        font-size: var(--smaller-font-size);
    }

    .nav_item {
        padding-left: .4em;
        padding-right: .4em;
        padding-bottom: 1.3em;

    }

    .nav_link {
        font-size: var(--smaller-font-size);
    }

    .section_container ul {
        display: flex;
        flex-direction: column;

    }

    .section_container li {
        width: 100%;
    }

    .social ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .social img {
        min-width: 25px;
        max-width: 40px;
    }



}

@media screen and (min-width: 1280px) {
    :root {
        --biggest-font-size: 4rem;
        --normal-font-size: 1.05rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*================================================= */