/*======== Global CSS Variables ======= */
:root {
    --biggest-font-size: 3rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway-VariableFont_wght.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: Noto;
    src: url(../fonts/NotoSerifKhojki-VariableFont_wght.ttf);
}

* {

    margin: 0;
    padding: 0;
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
    display: grid;
    grid-template: repeat(3, auto) / 1fr;
    grid-template-areas:
        "head"
        "main"
        "foot";

}

/*Container and Grid Max-Width=1024px to center main contents nicely*/
.container {
    max-width: 1280px;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.grid {
    display: grid;
}

/*================================ */

ul {
    list-style: none;
}

a,
a:visited {
    text-decoration: none;
}

/*==== Header & Nav Menu ======= */
.header {
    grid-area: head;
    position: sticky;
    padding-bottom: 2.5em;
    background-color: #fff;
    z-index: 1;
    top: 0;
    left: 0;
}

.nav {
    height: 3.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0;
    margin-right: 1.5rem;

}

.nav_menu {
    margin-top: 3em;
    background: linear-gradient(170deg,
            #383838 0%,
            #0f0f0f 30%);
    border-radius: 1.25em;
    box-shadow: 0 2px 5px 2px rgba(34, 32, 32, 0.45);
}

.nav_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1.5em;
}

.nav_item {
    background: none;
    box-shadow: none;
    padding: 1em;
    border-radius: 15px;

}

.nav_item:hover,
.nav_item:focus {
    box-shadow: inset -5px -5px 9px rgba(114, 105, 105, 0.45), inset 5px 5px 9px rgba(67, 67, 71, 0.3);
    background: #406e8e;
}

.nav_link {
    color: #fff;
    display: flex;
    border-radius: 50%;
    font-size: 1em;
    font-family: Montserrat;
}

.nav_list .nav_item {
    text-decoration: none;
    align-items: center;
    /* margin: 10px; */
    font-weight: bold;
}

.nav_logo {
    display: inline-flex;
    align-items: center;
    column-gap: .25em;
    margin-top: 2.5em;

}

.logo {
    width: 30%;
    min-width: 100px;
    max-width: 120px;
}

.nav_logo .smallscreen {
    display: none;
}

.nav_logo span {
    color: #000066;
    font-family: Noto;
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    text-shadow: 2px 2px 2px #908484;
}

.nav_logo:hover {
    color: var(--first-color);
}

/*================================ */


/*======= Main Content (About Section and Article) ======== */
.main {
    background: linear-gradient(170deg,
            #383838 0%,
            #0f0f0f 30%);
   
}

.section .container{
   margin: 0 auto;
}

.section .container li {
    float: left;
}


.section .album_cover li .image {
    position: relative;
    width: 100%;
}








/*======================================== */







/*======================================== */


/*======= Footer ======== */
.footer {
    grid-area: foot;
    text-align: center;
    background: linear-gradient(170deg,
            #383838 0%,
            #0f0f0f 30%);
    padding-bottom: .5em;
}

/*========================== */


/*======= Screen Sizes/Breakpoints ======== */

#mobile_menu {
    display: none;
}

@media screen and (max-width: 1279px) {

    .container {
        margin-left: 1em;
        margin-right: 1em;
    }

    .title {
        width: 400px;
    }

    #largescreen {
        font-size: 1.5rem;
    }


    #fontdecoration {
        text-decoration: underline 5px black;
    }

    .footer {
        grid-area: foot;
        overflow: hidden;
    }
}

@media screen and (max-width: 848px) {

    .nav_logo {
        margin-left: .5em;
    }

    #largescreen {
        display: none;
    }

    .nav_menu {
        width: 80%;
    }

    .about {
        padding-bottom: 0;
    }

    figure img {
        max-width: 507px;
        min-width: 348px;
        height: 100%;
        object-fit: cover;
    }


    .footer {
        padding: 0;
    }

    .btn-prev {
        top: 65%;
        left: 2%;
    }

    .btn-next {
        top: 65%;
        right: 2%;
    }
}

@media screen and (max-width: 698px) {
    #mobile_menu {
        display: flex;
        margin-top: 2.5em;
    }

    #nav_menu {
        display: none;
    }

    .nav_item {
        padding-bottom: .68em;
    }

}

@media screen and (max-width: 582px) {
    #mobile_menu {
        font-size: var(--smaller-font-size);
    }

    .nav_item {
        padding-left: .4em;
        padding-right: .4em;
        padding-bottom: 1.3em;

    }

    .nav_link {
        font-size: var(--smaller-font-size);
    }

    .social ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .social img {
        min-width: 25px;
        max-width: 40px;
    }


}

@media screen and (min-width: 1280px) {
    :root {
        --biggest-font-size: 4rem;
        --normal-font-size: 1.05rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*================================================= */