/*======== Global CSS Variables ======= */
:root {
    --biggest-font-size: 3rem;
    --normal-font-size: .938rem;
    --smaller-font-size: .75rem;
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway-VariableFont_wght.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template: repeat(3, auto) / 1fr;
    grid-template-areas:
        "head"
        "main"
        "foot";

}

/*Container and Grid Max-Width=1280px to center main contents nicely*/
.container {
    max-width: 1280px;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.grid {
    display: grid;
}

/*================================ */

ul {
    list-style: none;
}

a,
a:visited {
    text-decoration: none;
}

p,
blockquote {
    line-height: 1.5;
    font-family: Raleway;
    font-weight: 500;
}

.art_link {
    margin: 0 auto;
}

p::first-letter {
    font-size: 1.5rem;
}

blockquote {
    padding-top: 1em;
    text-align: center;
    color: #406e8e;
}


/*==== Header & Nav Menu ======= */
.header {
    grid-area: head;
    position: sticky;
    padding-bottom: 2.5em;
    background-color: #fff;
    z-index: 1;
    top: 0;
    left: 0;
}

.nav {
    height: 3.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0;
    margin-right: 1.5rem;

}

.nav_menu {
    margin-top: 3em;
    background: linear-gradient(170deg,
            #383838 0%,
            #0f0f0f 30%);
    border-radius: 1.25em;
    box-shadow: 0 2px 5px 2px rgba(34, 32, 32, 0.45);
}

.nav_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1.5em;
}

.nav_item {
    background: none;
    box-shadow: none;
    padding: 1em;
    border-radius: 15px;

}

.nav_item:hover,
.nav_item:focus {
    box-shadow: inset -5px -5px 9px rgba(114, 105, 105, 0.45), inset 5px 5px 9px rgba(67, 67, 71, 0.3);
    background: #406e8e;
}

.nav_link {
    color: #fff;
    display: flex;
    border-radius: 50%;
    font-size: 1em;
    font-family: Montserrat;
}

.nav_list .nav_item {
    text-decoration: none;
    align-items: center;
    /* margin: 10px; */
    font-weight: bold;
}

.nav_logo {
    display: inline-flex;
    align-items: center;
    column-gap: .25em;
    margin-top: 2.5em;

}

.logo {
    width: 30%;
    min-width: 100px;
    max-width: 120px;
}

.nav_logo .smallscreen {
    display: none;
}

.nav_logo span {
    color: #406e8e;
    text-decoration: underline black 5px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 1.8rem;
    text-align: center;
}

.nav_logo:hover {
    color: var(--first-color);
}

/*================================ */


/*======= Main Content (About Section and Article) ======== */
.main {
    display: grid;
    background: linear-gradient(170deg,
            #383838 0%,
            #0f0f0f 30%);
    grid-template-areas: "about about about"
        "art art art";
    grid-area: main;
}

.section {
    padding: 2.5rem 0 2rem;
}

.social {
    order: 2;
    grid-row: 1 / 2;
    grid-column: 4 / 3;
    padding-top: 5.5em;
}

.social img {
    width: 30%;
    min-width: 30px;
    max-width: 40px;
}


.about {
    grid-area: about;
    padding-bottom: 0;
}

.about_container,
.article_container {
    padding-top: 2rem;
    row-gap: 3.5rem;
}

.about_container,
.article_container,
.grid {
    margin: 0 auto;
}

.about_title {
    font-size: var(--biggest-font-size);
    color: #fff;
    line-height: 120%;
    margin-bottom: 1.25rem;

}

.about_description {
    color: #a9b4c2;
    margin-bottom: 2rem;
    font-size: var(--normal-font-size);
    border-top: 2px solid #ffff;
}


.about_images {
    position: relative;
    display: flex;
    justify-content: center;
}

/*=========================================== */


/*======= Image Carousel (CSS for btns/transitions given by creator of js file) slides personally modified) ======== */
.slider {
    width: 90%;
    max-width: 800px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 125px 125px 20px 20px;
    display: inline-flex;
    align-items: flex-start;
    box-shadow: 0 16px 32px #16276a40;
}

.slide {
    width: 100%;
    max-width: 800px;
    height: 350px;
    position: absolute;
    transition: all 0.5s;

}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: #fff;
    font-size: 18px;
}

.btn:active {
    transform: scale(1.1);
}

.btn-prev {
    top: 45%;
    left: 2%;
}

.btn-next {
    top: 45%;
    right: 2%;
}

/*======================================== */

/*======= Article ======== */
.article {
    grid-area: art;
    background: #fff;
    padding: 2rem 0 2rem;

}

.article_title {
    font-size: var(--biggest-font-size);
    color: black;
    line-height: 120%;
    margin-bottom: 1.25rem;

}

.article_description {
    color: #406e8e;
    margin-bottom: 2rem;
    font-size: var(--normal-font-size);
    border-top: 2px solid black;
}

figure {
    margin-bottom: 1em;
    text-align: center;
}

figcaption {
    font-weight: bold;
    color: #2b4162;
}

figure img {
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 100px 100px 20px 20px;
    box-shadow: 0 16px 50px #16276a40;
}

figure img:hover,
figure img:focus {
    width: 60%;
}

/*======================================== */


/*======= Footer ======== */
.footer {
    grid-area: foot;
    text-align: center;
    background: linear-gradient(170deg,
            #383838 0%,
            #0f0f0f 30%);
    padding-bottom: .5em;
}

/*========================== */


/*======= Screen Sizes/Breakpoints ======== */

#mobile_menu {
    display: none;
}

@media screen and (max-width: 1279px) {
    .container {
        margin-left: 1em;
        margin-right: 1em;
    }

    #largescreen {
        font-size: 1.5rem;
    }


    #fontdecoration {
        text-decoration: underline 5px black;
    }

    .footer {
        grid-area: foot;
        overflow: hidden;
    }
}

@media screen and (max-width: 848px) {

    .nav_logo {
        margin-left: .5em;
    }

    #largescreen {
        display: none;
    }

    .nav_menu {
        width: 80%;
    }

    .about {
        padding-bottom: 0;
    }

    figure img {
        max-width: 507px;
        min-width: 348px;
        height: 100%;
        object-fit: cover;
    }


    .footer {
        padding: 0;
    }

    .btn-prev {
        top: 65%;
        left: 2%;
    }

    .btn-next {
        top: 65%;
        right: 2%;
    }
}

@media screen and (max-width: 698px) {
    #mobile_menu {
        display: flex;
        margin-top: 2.5em;
    }

    #nav_menu {
        display: none;
    }

    .nav_item {
        padding-bottom: .68em;
    }

}

@media screen and (max-width: 582px) {
    #mobile_menu {
        font-size: var(--smaller-font-size);
    }

    .nav_item {
        padding-left: .4em;
        padding-right: .4em;
        padding-bottom: 1.3em;

    }

    .nav_link {
        font-size: var(--smaller-font-size);
    }

    .social ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .social img {
        min-width: 25px;
        max-width: 40px;
    }


}

@media screen and (min-width: 1280px) {
    :root {
        --biggest-font-size: 4rem;
        --normal-font-size: 1.05rem;
        --smaller-font-size: .813rem;
    }
}

/*================================================= */