/*======== Global CSS Variables ======= */
:root {
    --header-height: 3.5rem;

    --first-color: hsl(228, 66%, 53%);
    --first-color-alt: hsl(228, 66%, 47%);
    --first-color-light: hsl(228, 62%, 59%);
    --first-color-lighten: hsl(228, 100%, 97%);
    --second-color: hsl(25, 83%, 53%);
    --title-color: hsl(228, 57%, 28%);
    --text-color: hsl(228, 15%, 50%);
    --text-color-light: hsl(228, 12%, 75%);
    --border-color: hsl(228, 99%, 98%);
    --body-color: #fff;
    --container-color: #fff;

    --body-font: PTSerif;
    --biggest-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    --font-medium: 500;
    --font-semi-bold: 600;

    --z-tooltip: 10;


}

@font-face {
    font-family: PTSerif;
    src: url(../fonts/PTSerif-Regular.ttf);
    font-family: Lato;
    src: url(../fonts/Lato-Regular.ttf);
    font-family: Playfair;
    src: url(../fonts/PlayfairDisplay-Bold.ttf)
}

* {

    margin: 0;
    padding: 0;
}


body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    overflow: scroll;
    display: grid;
    grid-template: repeat(2, 1fr) / 1fr;
    grid-template-areas:
        "main main"
        "main main"
        "foot foot";

}

h1,
h2,
h3 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

/*==== Header & Nav Menu ======= */
.header {
    position: fixed;
    padding-bottom: 2.5em;
    width: 100%;
    background-color: #fff;
    z-index: 1;

}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0;
    margin-right: 1.5rem;
}

.nav_menu {
    margin-top: 3em;
    background: linear-gradient(170deg,
            #383838 0%,
            #0f0f0f 30%);
    border-radius: 1.25em;
    box-shadow: 0 2px 5px 2px rgba(34, 32, 32, 0.45);
}

.nav_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1.5em;
}

.nav_item {
    background: none;
    box-shadow: none;
    padding: 1em;
    border-radius: 15px;

}

.nav_item:hover,
.nav_item:focus {
    box-shadow: inset -5px -5px 9px rgba(173, 164, 164, 0.45), inset 5px 5px 9px rgba(43, 43, 46, 0.3);
    background: #6930c3;
}

.nav_link {
    color: #fff;
    display: flex;
    border-radius: 50%;
    font-size: 1em;
    font-family: Lato;
}

.nav_list .nav_item {
    text-decoration: none;
    align-items: center;
    /* margin: 10px; */
    font-weight: bold;
}

.nav_logo {
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
    margin-top: 2.5em;

}

.logo {
    width: 30%;
    min-width: 100px;
    max-width: 120px;
}

.nav_logo .smallscreen {
    display: none;
}

.nav_logo span {
    color: #6930c3;
    text-decoration: underline black 5px;
    font-family: Playfair;
    font-size: 1.8rem;
    text-align: center;
}

.nav_logo:hover {
    color: var(--first-color);
}

/*================================ */

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1024px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.grid {
    display: grid;
}

.section {
    padding: 5rem 0 2rem;
}

.section_title {
    font-size: var(--h2-font-size);
    margin-bottom: 1rem;
}

.section_title a {
    color: var(--second-color);
}

.section_subtitle {
    display: block;
    font-size: var(--small-font-size);
}

.article {
    grid-area: art;
    background: #fff;
    padding: 2rem 0 2rem;
}

.article_title {
    font-size: var(--h2-font-size);
    margin-bottom: 1rem;
}


/*======= Main Content (About Section and Article) ======== */
.main {
    overflow: hidden;
    display: grid;
    background: linear-gradient(170deg,
            #383838 0%,
            #0f0f0f 30%);
    grid-template-areas: "about about about"
        "art art art";
    grid-area: main;
}

.social {
    order: 2;
    grid-row: 1 / 2;
    grid-column: 4 / 3;
    padding-top: 8em;
    padding-left: 2.5em;
}

.social img {
    width: 30%;
    min-width: 30px;
    max-width: 40px;
}


.about {
    grid-area: about;
    padding-bottom: 0;
}

.about_container,
.founder_container,
.social_container {
    padding-top: 2rem;
    row-gap: 3.5rem;
}

.about_container,
.founder_container,
.grid {
    margin: 0 auto;
}

.about_title {
    font-size: var(--biggest-font-size);
    color: #fff;
    line-height: 120%;
    margin-bottom: 1.25rem;
}

.about_description {
    color: var(--text-color-light);
    margin-bottom: 2rem;
}


.about_images {
    position: relative;
    display: flex;
    justify-content: center;
}



.founder_title {
    font-size: var(--biggest-font-size);
    color: black;
    line-height: 120%;
    margin-bottom: 1.25rem;
}

.founder_description {
    color: var(--text-color);
    margin-bottom: 2rem;
}

/*=========================================== */


/*======= Image Carousel (CSS for btns given by creator of js file and with sliders personally modified based on pref) ======== */
.slider {
    width: 90%;
    max-width: 800px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 125px 125px 20px 20px;
    display: inline-flex;
    align-items: flex-start;
    box-shadow: 0 16px 32px #16276a40;
}

.slide {
    width: 100%;
    max-width: 800px;
    height: 350px;
    position: absolute;
    transition: all 0.5s;

}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    background-color: #fff;
    font-size: 18px;
}

.btn:active {
    transform: scale(1.1);
}

.btn-prev {
    top: 45%;
    left: 2%;
}

.btn-next {
    top: 45%;
    right: 2%;
}

/*======================================== */


/*======= Footer ======== */
.footer_container {
    row-gap: 2.5rem;
}

.footer {
    text-align: center;
    background: linear-gradient(170deg,
            #383838 0%,
            #0f0f0f 30%);
    padding-top: .5em;
}


.footer_link h3 {
    text-align: center;

}

/*========================== */

figure {
    margin-bottom: 1em;
    text-align: center;
}

.founder_img {
    width: 40%;
    border-radius: 100px 100px 20px 20px;
    box-shadow: 0 16px 50px #16276a40;
}

figure img:hover,
figure img:focus {
    width: 50%;
}


/*======= Screen Sizes ======== */

#mobile_menu {
    display: none;
}

@media screen and (max-width: 1089px) {
    #largescreen {
        font-size: 1.5rem;
    }



    #fontdecoration {
        text-decoration: underline 5px black;
    }

    .footer {
        grid-area: foot;
        overflow: hidden;
    }
}

@media screen and (max-width: 848px) {
    .container {
        margin-left: 1em;
        margin-right: 1em;
    }

    .nav_logo {
        margin-left: .5em;
    }

    #largescreen {
        display: none;
    }

    .nav_menu {
        width: 80%;
    }

    .social {
        overflow: hidden;
        grid-row: 1 / 2;
        grid-column: 3 / 3;
        padding-right: .5em;
        margin-top: 0;
    }

    .social ul {
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .social ul li {
        float: right;
        padding-left: .5em;
    }

    .section {
        padding: 4rem 0 1rem;
    }

    .about {
        padding-bottom: 0;
    }

    .founder_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    figure img:hover,
    figure img:focus {
        width: 100%;
    }

    .footer {
        padding: 0;
        overflow: scroll;
    }

    .btn-prev {
        top: 65%;
        left: 2%;
    }

    .btn-next {
        top: 65%;
        right: 2%;
    }
}

@media screen and (max-width: 698px) {
    #mobile_menu {
        display: flex;
        margin-top: 2.5em;

    }

    #nav_menu {
        display: none;
    }
}



@media screen and (min-width: 1090px) {
    :root {
        --biggest-font-size: 4rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*================================================= */